# Python Crash Course

**This notebook is just a code reference for the videos, no written explanations here**

This notebook will just go through the basic topics in order:

* Data types
    * Numbers
    * Strings
    * Printing
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets
* Comparison Operators
* if,elif, else Statements
* for Loops
* while Loops
* range()
* list comprehension
* functions
* lambda expressions
* map and filter
* methods
____

## Data types

### Numbers

In [1]:
1 + 1

2

In [7]:
1 * 3

3

In [2]:
1 / 2

0.5

In [3]:
1.5 / 3.5

0.42857142857142855

In [9]:
2 ** 4

16

In [10]:
4 % 2

0

In [11]:
5 % 2

1

In [6]:
(2 + 3) * (5 + 5)

50

**Note**: parenthesis are important!

In [5]:
2 + 3 * 5 + 5

22

### Variable Assignment

In [18]:
# Can not start with number or special characters
name_of_var = 2

In [19]:
x = 2
y = 3

In [20]:
z = x + y

In [21]:
z

5

In [22]:
x += x

In [24]:
x

4

### Comment

In [26]:
# This is a comment

### Strings

In [17]:
'single quotes'

'single quotes'

In [18]:
"double quotes"

'double quotes'

In [19]:
" wrap lot's of other quotes"

" wrap lot's of other quotes"

### Printing

In [38]:
x = 'hello'

In [45]:
x

'hello'

In [50]:
x[0]

'h'

**Note**: you can use slicing to grab slices of a string

In [49]:
x[0:3]

'hel'

In [40]:
print(x)

hello

In [41]:
num = 12
name = 'Sam'

In [42]:
print('My number is: {one}, and my name is: {two}'.format(one=num,two=name))

My number is: 12, and my name is: Sam

In [43]:
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 12, and my name is: Sam

In [44]:
print('My number is: ' + str(num) + ", and my name is: " + name)

My number is: 12, and my name is: Sam

### Lists

**Note**: Don't forget lists and arrays begins with 0!

In [92]:
[1,2,3]

[1, 2, 3]

In [93]:
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [94]:
my_list = ['a','b','c']

In [95]:
my_list.append('d')

In [96]:
my_list

['a', 'b', 'c', 'd']

In [97]:
my_list[0]

'a'

In [98]:
my_list[1]

'b'

In [99]:
my_list[1:]

['b', 'c', 'd']

In [100]:
my_list[:2]

['a', 'b']

In [101]:
my_list[0] = 'NEW'

In [102]:
my_list

['NEW', 'b', 'c', 'd']

In [103]:
nest = [1,2,3,[4,5,['target']]]

In [104]:
nest[3]

[4, 5, ['target']]

In [105]:
nest[3][2]

['target']

In [106]:
nest[3][2][0]

'target'

### Dictionaries

Holds values through keys and values, can take in any item as their value

In [107]:
d = {'key1':'item1','key2':'item2'}

In [108]:
d

{'key1': 'item1', 'key2': 'item2'}

In [109]:
d['key1']

'item1'

In [110]:
d['key1'][1:4]

'tem'

### Booleans: system of logical thought

In [111]:
True

True

In [112]:
False

False

### Tuples : number of values separated by commas

In [113]:
t = (1,2,3)

In [114]:
t[0]

1

In [116]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

**Note** Tuples are immutable and cannot be changed

### Sets: collection of unique elements

similar to dictionary without colon

In [119]:
s = {1,2,3}

In [120]:
s

{1, 2, 3}

In [121]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

In [124]:
s.add(5)

In [126]:
s

{1, 2, 3, 5}

In [128]:
s.add(2)

In [129]:
s

{1, 2, 3, 5}

## Comparison Operators

allow you to compare two elements with each other

In [47]:
1 > 2

False

In [48]:
1 < 2

True

In [49]:
1 >= 1

True

In [50]:
1 <= 4

True

In [130]:
1 == 1

True

In [131]:
1 != 3

True

In [52]:
'hi' == 'bye'

False

## Logic Operators

In [132]:
(1 > 2) and (2 < 3)

False

**and** needs both conditions to be true to be true

In [133]:
(1 > 2) or (2 < 3)

True

**or** needs at least one of condition to be true to be true

In [55]:
(1 == 2) or (2 == 3) or (4 == 4)

True

## if,elif, else Statements

In [56]:
if 1 < 2:
    print('Yep!')

Yep!

In [57]:
if 1 < 2:
    print('yep!')

yep!

In [58]:
if 1 < 2:
    print('first')
else:
    print('last')

first

In [59]:
if 1 > 2:
    print('first')
else:
    print('last')

last

In [60]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

## for Loops

In [61]:
seq = [1,2,3,4,5]

In [62]:
for item in seq:
    print(item)

1
2
3
4
5

In [63]:
for item in seq:
    print('Yep')

Yep
Yep
Yep
Yep
Yep

In [64]:
for jelly in seq:
    print(jelly+jelly)

2
4
6
8
10

## while Loops

In [65]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

## range()

In [134]:
range(5)

range(0, 5)

In [136]:
list(range(0,7))

[0, 1, 2, 3, 4, 5, 6]

In [137]:
list(range(7))

[0, 1, 2, 3, 4, 5, 6]

In [67]:
for i in range(5):
    print(i)

0
1
2
3
4

In [68]:
list(range(5))

[0, 1, 2, 3, 4]

## list comprehension

In [139]:
x = [1,2,3,4]

In [140]:
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

**NOTE**: list comprehension is a for loop but backwards, you start with what you want first

In [141]:
[item**2 for item in x]

[1, 4, 9, 16]

## functions

In [142]:
def my_func(param1='default'):
    """
    Docstring goes here.
    """
    print(param1)

In [143]:
my_func

In [144]:
my_func()

default

In [145]:
my_func('new param')

new param

In [146]:
my_func(param1='new param')

new param

In [155]:
def square(x):
    '''
    This is a docstring,
    it can be multi line
    basically a comment describing function
    '''
    return x**2

**NOTE**: if you type square in console they press Shift+Tab, a description of your function appears

In [156]:
out = square(2)

In [157]:
print(out)

4

In [158]:
print(square(25))

625

## lambda expressions

**NOTE**: lambdas are generally anonymous functions that can be used once, usually throwaway funct without a name

In [167]:
def times2(var):
    return var*2

In [168]:
times2(2)

4

In [176]:
lambda var: var*2

In [182]:
t = lambda var2: var2*3  #possible to use like this but not common

In [183]:
t(3)

9

## map and filter

**NOTE**: map and you put in a function and then a sequence to map it to

In [170]:
seq = [1,2,3,4,5]

In [171]:
map(times2,seq)

In [172]:
list(map(times2,seq)) #cast into a list

[2, 4, 6, 8, 10]

In [185]:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

In [186]:
filter(lambda item: item%2 == 0,seq) # asking for only even nums in seq

In [175]:
list(filter(lambda item: item%2 == 0,seq))

[2, 4]

## methods:

calls you make (often object) to affect an obj or return a result

In [187]:
st = 'hello my name is Sam'

In [188]:
st.lower()

'hello my name is sam'

In [189]:
st.upper()

'HELLO MY NAME IS SAM'

In [190]:
st.split()

['hello', 'my', 'name', 'is', 'Sam']

In [191]:
tweet = 'Go Sports! #Sports'

In [202]:
tweet.split('#') #we can split using a symbol

['Go Sports! ', 'Sports']

In [193]:
tweet.split('#')[1]

'Sports'

In [194]:
d

{'key1': 'item1', 'key2': 'item2'}

In [195]:
d.keys()

dict_keys(['key2', 'key1'])

In [203]:
d.items() # returns items which is a key value pair

dict_items([('key2', 'item2'), ('key1', 'item1')])

In [197]:
lst = [1,2,3]

In [198]:
lst.pop()

3

In [199]:
lst

[1, 2]

In [200]:
'x' in [1,2,3]

False

In [204]:
'x' in ['x','y','z']

True

In [208]:
z = [(1,2), (3,4), (5,6)] #we can unpack tuples with for loop

In [212]:
for a, b in z:
    print(b)

2
4
6